-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: turbosaas_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `mapas_proyectos`
--

DROP TABLE IF EXISTS `mapas_proyectos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mapas_proyectos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `cover_image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mapas_proyectos`
--

LOCK TABLES `mapas_proyectos` WRITE;
/*!40000 ALTER TABLE `mapas_proyectos` DISABLE KEYS */;
INSERT INTO `mapas_proyectos` VALUES (1,'Proyecto Zapallal','',NULL,'2026-06-03 01:41:55','2026-06-03 01:41:55'),(2,'Mapa de prueba 002','',NULL,'2026-06-03 02:12:37','2026-06-03 02:12:37'),(3,'000102','',NULL,'2026-06-03 02:13:29','2026-06-03 02:13:29');
/*!40000 ALTER TABLE `mapas_proyectos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mapas_elementos`
--

DROP TABLE IF EXISTS `mapas_elementos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mapas_elementos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `proyecto_id` int(11) NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `geojson` text NOT NULL,
  `color` varchar(50) DEFAULT NULL,
  `icono` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `capacidad_puertos` int(11) DEFAULT 0,
  `potencia_dbm` varchar(50) DEFAULT '',
  `cable_origen` varchar(100) DEFAULT '',
  `splitter_tipo` varchar(50) DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `proyecto_id` (`proyecto_id`),
  CONSTRAINT `mapas_elementos_ibfk_1` FOREIGN KEY (`proyecto_id`) REFERENCES `mapas_proyectos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mapas_elementos`
--

LOCK TABLES `mapas_elementos` WRITE;
/*!40000 ALTER TABLE `mapas_elementos` DISABLE KEYS */;
/*!40000 ALTER TABLE `mapas_elementos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mapas_imagenes`
--

DROP TABLE IF EXISTS `mapas_imagenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mapas_imagenes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `elemento_id` int(11) NOT NULL,
  `ruta` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `elemento_id` (`elemento_id`),
  CONSTRAINT `mapas_imagenes_ibfk_1` FOREIGN KEY (`elemento_id`) REFERENCES `mapas_elementos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mapas_imagenes`
--

LOCK TABLES `mapas_imagenes` WRITE;
/*!40000 ALTER TABLE `mapas_imagenes` DISABLE KEYS */;
/*!40000 ALTER TABLE `mapas_imagenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mapas_puertos`
--

DROP TABLE IF EXISTS `mapas_puertos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mapas_puertos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `elemento_id` int(11) NOT NULL,
  `numero_puerto` int(11) NOT NULL,
  `estado` varchar(20) DEFAULT 'Disponible',
  `cliente_nombre` varchar(255) DEFAULT '',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_puerto` (`elemento_id`,`numero_puerto`),
  CONSTRAINT `mapas_puertos_ibfk_1` FOREIGN KEY (`elemento_id`) REFERENCES `mapas_elementos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mapas_puertos`
--

LOCK TABLES `mapas_puertos` WRITE;
/*!40000 ALTER TABLE `mapas_puertos` DISABLE KEYS */;
/*!40000 ALTER TABLE `mapas_puertos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-04 23:27:30
